<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF96TbmGrpnTC04owehsAqK9K2IFeuXm0</string>
	<key>GCM_SENDER_ID</key>
	<string>986325806471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cbm.oneapp</string>
	<key>PROJECT_ID</key>
	<string>cbm-dev-ac457</string>
	<key>STORAGE_BUCKET</key>
	<string>cbm-dev-ac457.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986325806471:ios:1ac6f336422495f148f722</string>
</dict>
</plist>